body{
    padding:0;
    margin:0;
}
.Div-Main {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-left:100px; 
    min-height: 100vh; 
    width: auto; 
}
.sidebar{
    position: fixed;
    bottom:0;
    top:0;
    left:0;
    width: 72px;        
    display: flex;       
    flex-direction: column; 
    justify-content: space-between; 
    padding:20px;
    padding-left:20px
}
.Sidebar-links {
    font-size:22px;
    left:4px;
}
.Sidebar-links img{
    height: 25px;
    width: 25px;
    border-radius:25px;
}
.icon-wrapper{
    position: relative;
    width: fit-content;
}
.Heart-indicator{
    position: absolute;
    top: -1px;   /* Adjust up/down */
    right: -4px; /* Adjust left/right */
    
    /* Dot Styling */
    width: 9px;
    height: 9px;
    background-color: #ff3040;
    border-radius: 50%;
    border: 2px solid white; 
}
.fa-location-arrow{
    font-size:30px;
}
.message-indicator{
    position: absolute;
    display:flex;
    top: -4px;  
    right: -6px; 
    width: 15px;
    height: 15px;
    background-color: #ff3040;
    border-radius: 50%;
    border: 2px solid white; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 9px;
    font-weight: bold;
    font-family: arial;
}

.Post{
    display:flex;
    flex: 1.37;      
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
    background-color: lightgoldenrodyellow;
}

.status-circle-container{
    display: flex;
    flex-direction: row;
    gap:12px;
    width:fit-content;
    height: fit-content;
    padding-top:20px;
    margin-bottom:30px;
    background-color: lightseagreen;
}

.status-circle{
    display:flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.Status-color-ring{
    display:flex;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    width:100px;
    height:100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}
.Account-image-status{
    display:flex;
    width:85px;
    height:85px;
    border-color: white;
    border-style: solid;
    border-width:4px;
    border-radius: 50%;
}
.Account-image-status img{
    width:85px;
    height:85px;
    border-radius:50%;
}
.Account-name{
    display:flex;
}
.Account-name p{
    margin:0;

}
.The-status-and-post-holder{
    display:flex;
    flex-direction: column;
}

.post-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 470px;
    margin-bottom:30px;
}
.the-account-details{
    display: flex;
    align-items:center;
    padding: 15px 12px;
}
.the-account-details p{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin:0;
}
.the-account-details img{
    width: 32px;         /* Instagram uses 32x32 for these headers */
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;   /* Add space between image and text */
    display: block;       /* Removes tiny hidden gaps under images */
}
.owner-details{ 
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.owner-account-name{
    font-weight:bold;
}
.Switch-button{
    color:rgb(0, 149, 246);
    background-color:white;
    border-color:white;
    border-style:solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    transition: text-decoration 5s;
}
.Switch-button:hover {
    text-decoration: underline;
}
.more-options-button{
    margin-left: auto;
    cursor:pointer;
}
.more-options-button:hover{
    transform: scale(1.1);
    color: rgb(162, 160, 160);
}
.The-post-image-container{
    width:100%;
}
.The-post-image-container img{
    width:100%;
    border-radius:5px;
    height: auto;
    display: block;
    object-fit:cover;

}
.the-likebutton-container{
    display: flex;
    padding:8px 10px;
    font-size:20px;
    align-items:center;
    gap:12px;
}
.Heart-like-button, 
.Comments-button,
.The-save-button,
.the-share-button {
    display: flex;       /* unique flexbox for the button itself */
    align-items: center; /* centers the number with the icon */
    gap: 6px;            /* adds space between the icon and the number */
}
.the-likebutton-container span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
    font-weight:bold;
}
.the-share-button{
    font-size:18px;
}
.The-save-button {
    margin-left:auto;
}
.fa-heart:hover, 
.fa-comment:hover,
.The-save-button:hover,
.the-share-button:hover{
    transform:scale(1.1);
}
.the-description{
    display: flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.the-description p{
    margin:0;
    font-size:13px;
}
.Account-details-in-description{
    font-size:13px;
    padding-left:12px;
    font-weight:bold;
}
.the-more-button-in-description{
    font-size:11.5px;
    color:rgb(97, 96, 96);
    cursor: pointer;
}
.the-more-button-in-description:hover{
    color: rgb(141, 140, 140);
}




.followrequest {
    flex: 1;
    flex-direction: column;
    position: static;   
    
}
.Main-container{
    padding-left:15px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width:fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.owner-dp{
    padding-left:25px;
    margin-right: 7px;
}
.owner-dp img{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
}
.owner-details p{
    margin: 0;
}
.owner-account-name{
    font-size:14px;
    font-weight:600;
    cursor: pointer;
}
.Owner-name{
    color:rgb(106, 113, 122);
    font-weight:400;
    font-size: 14px;
}
.Switch-button{
    margin-left:55px;
    margin-right:10px;
    background-color:rgb(255, 255, 255);
    border-color: white;
    border-style:solid;
    color: rgb(49, 67, 227);
    cursor: pointer;
    transition: text-decoration 0.15s;
}
.Switch-button:hover{
    text-decoration: underline;
}
.suggested-accounts{
   margin-bottom: 35px;
}
.Suggested-for-you-container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width: fit-content;
    margin-left:40px;
    margin-top:20px ;
    
}
.Suggested-for-you-container p{
    display: flex;
    color:rgb(106, 113, 122);
    font-size: 14px;
    font-weight:500;
    margin: 0;
}
.Suggested-for-you-container-button{
    margin-left:120px;
    margin-right:10px;
    background-color:rgb(255, 255, 255);
    border-color: white;
    border-style:solid;
    color: rgb(12, 16, 20);
    cursor: pointer;
    transition: color 0.15s;
    
}
.Suggested-for-you-container-button:hover{
    color:rgb(146, 153, 159);
}
.Main-container1 { 
    padding-left:20px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width:fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Privacy-terms-container{
    height: 100vh;
}
.Privacy-terms-container p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding-bottom:2.8px;
    padding-left:40px;
    font-size:12px;
    color:rgb(106, 113, 122);
}
.Property-rights{
    padding-top:20px;

}
        .Switch-button2 {
            width:251px;
            height:54.400px;
            position: fixed;
            bottom: 35px;  /* Keeps it at the bottom */
            right: 45px;   /* Keeps it at the right */
            
            display: flex;
            align-items: center;
            
            /* THIS IS THE KEY: Creates exactly 10px space between Icon, Text, and Image */
            gap: 5px; 
            
            padding: 10px 15px; /* Adds breathing room inside the button */
            background-color:white; /* Needed to see the button */
            border-radius: 50px;     /* Makes it a pill shape */
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px 0px; /* Adds the shadow pop */
            border: none;
            cursor: pointer;
            
            
            font-family: system-ui, -apple-system, sans-serif;
            font-weight: 600;
        }
         .img1, .img2 {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid white; /* Adds the overlap effect border */
            margin-left: 55px; /* Pushes image slightly right */

        }

        .img2{
            margin: -12px;
            z-index: -1;
        }

        /* The container for Icon + Red Dot */
        .message {
            position: relative; /* Anchors the red dot */
            width: fit-content; /* CRITICAL: Only takes as much space as the icon needs */
            /* Removed width: 85px */
            /* Removed background-color: lightblue (unless you want to see the box) */
        }

        .fa-location-arrow {
            font-size: 30px;
            transform: rotate(15deg);
            /* Removed padding-right/left because 'gap' handles spacing now */
        }

        .message-popup {
            position: absolute; /* Floats on top of the icon */
            top: -3px;          /* Move up */
            right: -8px;        /* Move right */
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 18px;
            height: 18px;
            background-color: #ff3040;
            border-radius: 50%;
            border: 2px solid white;
            
            color: white;
            font-size: 10px;
            font-weight: bold;
        }
        .Message-tittle{
            margin: 0; 
            font-size:16px ;
        }